body{
    padding: 0;
    margin: 0;
}

.navbar{
padding: 2% 15% 2% 5%;
}

.btn {
background-color: aquamarine;
padding: 12px;
border: black 2px solid;
border-radius: 10px;
font-size: 20px;
}
.btn:hover {
    background-color: rgb(186, 255, 232);
}