body{
    padding: 0;
    margin: 0;
}

.navbar{
padding: 2% 15% 2% 5%;
}

.projectBtn{
    margin: 10px;
}

.btn {
background-color: aquamarine;
padding: 12px;
border: black 2px solid;
border-radius: 10px;
font-size: 20px;
}
.btn:hover {
    background-color: rgb(212, 255, 241);
}

.redBtn{
    background-color: rgb(214, 39, 39);
    color: #fff;
}
.redBtn:hover{
    background-color: rgb(255, 116, 116);
    color: #fff;
}

.listitem{
    color: red;
}

.random-img{
    margin: 10px;
}

.screenshot{
    width: 100%;

}

footer{
    padding: 10px;
}

